/* favorites */
.favorites > li {border-bottom: 1px dotted #999;padding: 0 0 0 75px;position: relative;}
/*.favorites > li.first {border-top: 0;}*/
.favorites > li:hover {
    background: url(#{resource['component/favorites/favorites-bg.png']}) repeat-x;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.1),transparent);
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.1)),to(transparent));
}

.favorites > li > img {position: absolute;margin-top: 1.5em;margin-left: -60px;}
.favorites > li > a {
       display: block;
       padding: 1.278em 1em;
       font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
       font-size: 1.5em;
       min-height: 1.833em;
       font-weight: bold;
       line-height: 0.833em;
       background: url(#{resource['component/favorites/favorites-border.png']}) no-repeat left center;
       color: #39C;
       text-decoration: none;
}
.favorites > li > a small {
    font-size: 0.667em;
    color: #999;
    font-weight: normal;
    text-transform: none;
}

/****************** Mini-menu *******************/
.mini-menu {
    position: absolute;
    z-index: 89;
    right: 2em;
    top: 0;
    padding: 0;
    height: 1.833em;
    display: none;
    margin: -1.083em 0 -1.083em;
    white-space: nowrap;    	
    line-height: 1.333em;
    /*padding: 0.167em 0.5em 0.25em;*/
    border: 1px solid white;
    -moz-border-radius: 0.417em;
    -webkit-border-radius: 0.417em;
    -webkit-background-clip: padding-box;
    border-radius: 0.417em;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: normal;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
    outline: 0;
    color: #666666;
    background: #e7e7e7 url(#{resource['component/favorites/legend-bg.png']}) repeat-x top;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top,#f8f8f8,#e7e7e7);
    background: -webkit-gradient(linear,left top, left bottom,from(#f8f8f8),to(#e7e7e7));
}

td > .mini-menu {
    position: relative;
    right: 0;
    top: 0;
    float: right;
    margin-right: 1em;
}
:hover > .mini-menu {
    display: block;
}
.ie .mini-menu {
    border-color: #cccccc;
}

.mini-menu > li {
    float: left;
    color: #999999;
    font-style: normal;
    height: 1.833em;
}

.mini-menu > li > a {
	text-decoration: none;
    display: block;
    line-height: 1.333em;
    height: 1.333em;
    padding: 0.25em 0.417em;
    border-left: 1px solid white;
    border-right: 1px solid #CCCCCC;
    color: #999;	
}
.mini-menu > li > a:hover {
    color: #115577;
    background: #98d2f3 url(#{resource['component/favorites/button-hover-bg.png']}) repeat-x top;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background: -moz-linear-gradient(top,#dff3fc,#98d2f3);
    background: -webkit-gradient(linear,left top, left bottom,from(#dff3fc),to(#98d2f3));
    text-decoration: none;
}

.favorites > li:first-child .move-up, .favorites > li:last-child .move-down  {display:none;}

/* IE class */
.ie7 .mini-menu > li > a {
    display: table-cell;
    vertical-align: middle;
}

.mini-menu > li:first-child > a {
    border-left: none;
    -moz-border-radius-topleft: 0.25em;
    -moz-border-radius-bottomleft: 0.25em;
    -webkit-border-top-left-radius: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
/* IE class */
.mini-menu > li.first-child > a {
    border-left: none;
}
.mini-menu > li:last-child > a {
    border-right: none;
    -moz-border-radius-topright: 0.25em;
    -moz-border-radius-bottomright: 0.25em;
    -webkit-border-top-right-radius: 0.25em;
    -webkit-border-bottom-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
/* IE class */
.mini-menu > li.last-child > a {
    border-right: none;
}

.mini-menu img {
    margin-bottom: -2px;
}
.mini-menu > li > a img {
    margin: 0 0 -3px;
}
/* IE class */
.ie7 .mini-menu > li > a img {
    margin: 0;
    vertical-align: middle;
}
.mini-menu img {
    margin-bottom: -4px;
}
.mini-menu.with-menu, .mini-menu.menu-opener {
    padding-right: 2.25em;
}
.ie .block-content .mini-menu.with-menu,
.ie .block-content .mini-menu.menu-opener {
    padding-right: 2.25em;
}