/* slidenav */
.slidernav {border:1px solid #ccc;margin-bottom:16px;width: auto; min-height: 250px; display: block; position: relative; background: #fff; overflow: hidden;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px}
.slidernav ul {list-style: none; }
.slider-content {width: 100%; display: block; overflow: auto; min-height: 250px}
.slider-content ul {width: 100%; display: block; position: relative}
.slider-content ul li {width: 100%; overflow:hidden;display:block;clear:both;}
.slider-content ul ul li {border-bottom: 1px solid #f3f3f3}
.slider-content ul ul li:last-child {border-bottom:none}
.slider-content ul ul li img {padding:2px 0}
.slider-content ul ul li a {padding: 6px 10px 5px; display: block;text-transform: capitalize;overflow:hidden}
.slider-content ul ul li a:hover {background: #f0f0f0}
.slider-content ul ul li a span,.slider-content ul ul li a img {vertical-align:middle}
.slider-content .title { border-width:1px 0;border-style:solid;border-color:#ccc;color:#222;display:block;padding: 5px 0; text-indent: 10px; width: 100%; font-weight: 700; text-transform: uppercase}
.slider-content ul li:first-child .title {border-top:none}
.slider-content .selected .title {background: #ddd}
.slidernav .slider-nav {position: absolute; right: 0; top: 0; background: #f2f2f2; min-height: 250px;border-left:1px solid #ddd}
.slidernav .slider-nav ul {padding:5px 0}
.slidernav .slider-nav li a {padding:3px 5px; font-size:11px;line-height:13px; text-align: center; color: #222; font-weight: bold; display: block; text-transform: uppercase; cursor: pointer; }
.slidernav .slider-nav li a:hover {text-decoration:none;background:#ddd}
.slidernav #debug {position: absolute; bottom: 24px; right: 23px; padding: 5px; background: #000; color: #fff}
.slidernav .arrow {display:block;position:absolute;top:50%;left:50%;margin:-3px 0 0 -4px;height:7px;width:11px;background-image: url(#{resource['component/contactSlider/arrows.png']});background-repeat:no-repeat}
.slidernav .down {background-position:0 -28px}
.slidernav .up {background-position:0 0}
.slidernav .slide-up, .slidernav .slide-down {height: 20px; background: #f2f2f2;cursor: pointer; float: right; width: 100%; position: relative}
.slidernav .slide-up {border-bottom:1px solid #ddd}
.slidernav .slide-down {border-top:1px solid #ddd}
.slider-content a:hover {text-decoration:none}
.box_c .slidernav {border:none;margin:0;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;-webkit-border-radius: 0px 0px 4px 4px;border-radius: 0px 0px 4px 4px}
