.ie .result-block {
	border: 1px solid #ccc;
}
.result-block div.last-child {
	margin-bottom: 0;
}
.result-block .result-info.first-last-child {
	margin-top: -1em;
	border-top: 1px solid #999999;
}
.small-files-list li.last-child {
	margin-bottom: 0;
}

.ie7 .small-pagination li {
	display: inline;
	margin-right: 0.333em;
}
.ie7 .small-pagination li.last-child {
	display: inline;
	margin-right: 0;
}
.ie7 .small-pagination li.prev, .ie7 .small-pagination li.next {
	vertical-align: auto;
}
.ie7 .small-pagination li.prev a, .ie7 .small-pagination li.next a {
	background-position: 0 0;
}