/**
 * Block lists styles
 */

/**************** Generic classes ***************/
.relative {
	position: relative;
	z-index: 200;
}
.absolute {
	position: absolute;
	z-index: 200;
}

.menu_count {padding:1px 10px;color:#fff;background:#dd0000;font-weight:700;line-height:1;text-align:center,-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

.menuItem {
    /*float: left;*/
    margin-left: 0.5em;
    position: relative;
    z-index: 200;	
}

.menuItem a {text-decoration: none;}

.menuItem li {display:inherit;padding-right:0;line-height:normal;}

/***************** Result block *****************/
.result-block {
	position: absolute;
	z-index: 200;
	top: 1.667em;
	right: -0.25em;
	min-width: 20em;
	/*background: white;*/
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-webkit-background-clip: padding-box;
	border-radius: 0.5em;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	padding: 1em;
	line-height: 1em;
	text-align: left;
	color: #333333;
}
.menuItem .result-block {
    top: 2.667em;
    display: none;
}
.menuItem:hover .result-block {
    display: block;
}
.result-block h2 {
	float: left;
	color: black;
}
.result-block div {
	margin-bottom: 1.667em;
}
.result-block div:last-child {
	margin-bottom: 0;
}
.result-block .arrow {
	font-size: 0;
	line-height: 0;
	width: 0;
	position: absolute;
	z-index: 200;
	right: 20px;
	top: -5px;
	border-bottom: 5px solid #666666;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}
.result-block .arrow span {
	width: 0;
	position: absolute;
	z-index: 200;
	left: -2px;
	bottom: -5px;
	border-bottom: 4px solid white;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}
.result-block .results-count {
	float: right;
	text-transform: uppercase;
	color: #b0b0b0;
	font-size: 0.75em;
	white-space: nowrap;
	margin-left: 1em;
}
.result-block .results-count strong {
	color: #999999;
}
.result-block ul {
	clear: both;
}
.result-block ul li {
	white-space: nowrap;
}
.search-more, .search-less {
	display: block;
	color: #999999;
	font-size: 0.75em;
	text-transform: uppercase;
	padding: 0.333em 0;
	text-align: center;
	background: url(#{resource['component/menuList/images/search-more-shadow.png']}) no-repeat center bottom;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0)), -moz-linear-gradient(left,#ffffff,#ebebeb 50%,#ffffff);
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(255, 255, 255, 1)),to(rgba(255, 255, 255, 0))), -webkit-gradient(linear,left top, right top,from(#ffffff),to(#ffffff),color-stop(0.5, #ebebeb));
}
.search-more:hover, .search-less:hover {
	color: #3399cc;
}
ul + .search-more, ul + .search-less {
	margin-top: -1.333em;
}
ul.small-pagination + .search-more, ul.small-pagination + .search-less {
	margin-top: -0.667em;
}
.search-more:before {
	content: url(#{resource['component/menuList/images/search-more-arrow.png']});
	padding-right: 0.556em;
}
.search-more:hover:before {
	content: url(#{resource['component/menuList/images/search-more-arrow-hover.png']});
}
.search-more:after {
	content: url(#{resource['component/menuList/images/search-more-arrow.png']});
	padding-left: 0.556em;
	}
.search-more:hover:after {
	content: url(#{resource['component/menuList/images/search-more-arrow-hover.png']});
}
.search-less:before {
	content: url(#{resource['component/menuList/images/search-less-arrow.png']});
	padding-right: 0.556em;
}
.search-less:hover:before {
	content: url(#{resource['component/menuList/images/search-less-arrow-hover.png']});
}
.search-less:after {
	content: url(#{resource['component/menuList/images/search-less-arrow.png']});
	padding-left: 0.556em;
}
.search-less:hover:after {
	content: url(#{resource['component/menuList/images/search-less-arrow-hover.png']});
}
.result-block hr {
	height: 1px;
	line-height: 1px;
	border: 0;
	margin-top: 0;
	clear: both;
	background: #ffffff url(#{resource['component/menuList/images/search-sep-bg.png']}) repeat-y left;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -moz-linear-gradient(left,#ffffff,#cccccc 50%,#ffffff);
	background: -webkit-gradient(linear,left top, right top,from(#ffffff),to(#ffffff),color-stop(0.5, #cccccc));
}
.result-block .result-info {
	background: #333333;
	color: white;
	padding: 0.417em 0.75em 0.583em;
	margin: 0 -1em -1em -1em;
	-moz-border-radius: 0 0 0.5em 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	border-radius: 0 0 0.5em 0.5em;
	white-space: nowrap;
}
.result-block .result-info a {
	color: #77ccff;
}
.result-block .arrow:first-child + .result-info:last-child {
	margin-top: -1em;
	border-top: 1px solid #999999;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-webkit-background-clip: padding-box;
	border-radius: 0.5em;
}
.result-block div + .result-info,
.result-block p + .result-info,
.result-block ul + .result-info {
	margin-top: 0.5em;
}
.result-block .result-info.loading {
	padding-left: 2.667em;
	background: #333333 url(#{resource['component/menuList/images/table-loader.gif']}) no-repeat 0.75em center;
}
/************* Small files icon list ************/
.small-files-list {
    /*font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
    font-size: 0.6em;*/
    /*font: 100 12px/1.3 Helvetica, Arial, sans-serif;*/
}
.small-files-list li {
	padding: 0.25em 0 0 42px;
	background: url(#{resource['component/menuList/images/default.png']}) no-repeat;
	color: black;
	min-height: 32px;
	margin-bottom: 0.25em;
	/*line-height: 1.083em;*/
}
.small-files-list li:last-child {
	margin-bottom: 0;
}
.small-files-list li a {
	display: block;
	margin: -0.25em 0 0 -42px;
	padding: 0.25em 0 0 42px;
	color: black;
	}
.small-files-list li a:hover {
	color: #3399cc;
}
.small-files-list li small {
	color: #999999;
}
.small-files-list.icon-paper li, .small-files-list li.icon-paper { background-image: url(#{resource['component/menuList/images/default.png']}); }
.small-files-list.Announcement li, .small-files-list li.Announcement { background-image: url(#{resource['component/menuList/images/icon_announce.png']}); }

/*************** Small pagination ***************/
.small-pagination {
	text-align: center;
}
ul + .small-pagination {
	margin-top: 0.667em;
}
.small-pagination li {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: inline-block;
	font-size: 0.75em;
	height: 1.555em;
	line-height: 1.555em;
	padding: 0 0.333em 0 0.222em;
	min-width: 1em;
	text-align: center;
	background: #d0d0d0;
	color: #666666;
	-moz-border-radius: 0.778em;
	-webkit-border-radius: 0.778em;
	-webkit-background-clip: padding-box;
	border-radius: 0.778em;
}
.small-pagination li a {
	display: block;
	margin: 0 -0.333em 0 -0.222em;
	padding: 0 0.333em 0 0.222em;
	height: 1.555em;
	min-width: 1em;
	color: white;
	background-color: #3399cc;
	-moz-border-radius: 0.778em;
	-webkit-border-radius: 0.778em;
	-webkit-background-clip: padding-box;
	border-radius: 0.778em;
}
.small-pagination li.current a, .small-pagination li a:hover {
	background-color: #7cc5e9;
}
.small-pagination li.prev, .small-pagination li.next {
	background: none;
	vertical-align: middle;
}
.small-pagination li.prev a, .small-pagination li.next a {
	margin: -0.111em -0.444em -0.111em -0.333em;
	padding: 0.111em 0.444em 0.111em 0.333em;
	width: 1em;
	overflow: hidden;
	text-indent: 100em;
}
.small-pagination li.prev a {
	background: url(#{resource['component/menuList/images/navigation-180.png']}) no-repeat center center;
}
.small-pagination li.prev a:hover {
	background-image: url(#{resource['component/menuList/images/navigation-180-white.png']});
}
.small-pagination li.next a {
	background: url(#{resource['component/menuList/images/navigation.png']}) no-repeat center center;
}
.small-pagination li.next a:hover {
	background-image: url(#{resource['component/menuList/images/navigation-000-white.png']});
}