<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
 
	<c:choose>
		<c:when test="#{node.hasChildren}">
            <li class="branch ${count.last?'last':''}"><span class="toggle"/><a class="folder #{node.type}"><span>#{node.name}</span></a>
            <ul>
				<c:forEach items="#{node.children}" var="node" varStatus="count">
                    <ui:include src="node.xhtml"/>
				</c:forEach>
			</ul>
            </li>
		</c:when>
		<c:otherwise>
            <li class="${count.last?'last':''}"><h:commandLink id="#{id}_#{node.value}" action="#{root.setSelected(node)}" class="file #{node.type} #{(root.selected.value eq node.value)?'selected':''}"><span>#{node.name}</span><f:ajax/></h:commandLink></li>
		</c:otherwise>
	</c:choose>
</ui:composition>
