.treeview, .treeview ul {padding:0;margin-top:0;list-style: none;}
.treeview a {text-decoration: none;color: #21759B;}

.treeview ul {background-color: white;margin-bottom: 2px;}
.treeview li {margin: 0;padding: 3px 0 2px 16px;}
.treeview li {background: url(#{resource['component/treeView/treeview-default-line.gif']}) 0 0 no-repeat;}
.treeview ul.root > li {background: none;} 
.treeview li.branch {background-position: 0 -176px;}
.treeview li.last {background-position: 0 -1766px;}
.treeview li span, .treeview li a {cursor: pointer; padding:1px 10px 1px 2px;}
.treeview li span:hover, .treeview li.branch.closed a.folder:hover {background-color: #d4d4d4; -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; -webkit-background-clip: padding-box; border-radius: 0.25em;}

.treeview li > a, .treeview li > span {color: #333;display: block;}
.treeview li > a.selected span {background-color: #949494;color: white;-moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; -webkit-background-clip: padding-box; border-radius: 0.25em;}

.treeview li.branch.closed ul {display: none; }
.treeview a.folder, .treeview a.file { padding: 1px 0 2px 26px; display: block; }
.treeview li.branch span.toggle {background: url(#{resource['component/treeView/minus.gif']}) 0 0 no-repeat;float: left; height: 13px; width: 13px; display: block; margin: 2px 0 0 -13px;}
.treeview li.branch.closed span.toggle { background: url(#{resource['component/treeView/plus.gif']}) 0 0 no-repeat;}

.treeview a.folder, .treeview li.branch.closed a.folder, .treeview a.file {background-position: 0 0;background-repeat: no-repeat;}

/*.treeview a.folder { background-image: url(#{resource['component/treeView/folder.png']});}*/
/*.treeview li.branch.closed a.folder { background-image: url(#{resource['component/treeView/folder-closed.png']});}*/
/*.treeview a.file { background-image: url(#{resource['component/treeView/file.png']});}*/

.treeview a.folder { background-image: url(#{resource['component/treeView/folder-open.png']});}
.treeview li.branch.closed a.folder { background-image: url(#{resource['component/treeView/folder-closed.png']});}
.treeview a.file { background-image: url(#{resource['component/treeView/document.png']});}

.treeview a.file.access { background-image: url(#{resource['component/treeView/document-access.png']});}
.treeview a.file.binary { background-image: url(#{resource['component/treeView/document-binary.png']});}
.treeview a.file.bookmark { background-image: url(#{resource['component/treeView/document-bookmark.png']});}
.treeview a.file.code { background-image: url(#{resource['component/treeView/document-code.png']});}
.treeview a.file.excel-csv { background-image: url(#{resource['component/treeView/document-excel-csv.png']});}
.treeview a.file.excel { background-image: url(#{resource['component/treeView/document-excel.png']});}
.treeview a.file.film { background-image: url(#{resource['component/treeView/document-film.png']});}
.treeview a.file.flash-movie { background-image: url(#{resource['component/treeView/document-flash-movie.png']});}
.treeview a.file.globe { background-image: url(#{resource['component/treeView/document-globe.png']});}
.treeview a.file.illustrator { background-image: url(#{resource['component/treeView/document-illustrator.png']});}
.treeview a.file.image { background-image: url(#{resource['component/treeView/document-image.png']});}
.treeview a.file.music { background-image: url(#{resource['component/treeView/document-music.png']});}
.treeview a.file.office { background-image: url(#{resource['component/treeView/document-office.png']});}
.treeview a.file.pdf { background-image: url(#{resource['component/treeView/document-pdf.png']});}
.treeview a.file.photoshop { background-image: url(#{resource['component/treeView/document-photoshop.png']});}
.treeview a.file.powerpoint { background-image: url(#{resource['component/treeView/document-powerpoint.png']});}
.treeview a.file.text { background-image: url(#{resource['component/treeView/document-text.png']});}
.treeview a.file.word { background-image: url(#{resource['component/treeView/document-word.png']});}
.treeview a.file.zipper { background-image: url(#{resource['component/treeView/document-zipper.png']});}

.treeview a.folder.bookmark { background-image: url(#{resource['component/treeView/folder-bookmark.png']});}
.treeview a.folder.open-document-music { background-image: url(#{resource['component/treeView/folder-open-document-music.png']});}
.treeview a.folder.open-document-text { background-image: url(#{resource['component/treeView/folder-open-document-text.png']});}
.treeview a.folder.open-document { background-image: url(#{resource['component/treeView/folder-open-document.png']});}
.treeview a.folder.open-film { background-image: url(#{resource['component/treeView/folder-open-film.png']});}
.treeview a.folder.open-image { background-image: url(#{resource['component/treeView/folder-open-image.png']});}
.treeview a.folder.open-table { background-image: url(#{resource['component/treeView/folder-open-table.png']});}
.treeview a.folder.zipper { background-image: url(#{resource['component/treeView/folder-zipper.png']});}
