<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
 
	<c:choose>
		<c:when test="#{node.hasChildren}">
            <li class="${count.last?'last':''} ${root.name eq node.name?'root':''}"><label><h:selectBooleanCheckbox value="#{node.value}"/>#{node.name}</label>
            <ul>
				<c:forEach items="#{node.children}" var="node" varStatus="count">
                    <ui:include src="node.xhtml"/>
				</c:forEach>
			</ul>
            </li>
		</c:when>
		<c:otherwise>
            <li class="${count.last?'last':''}"><label><h:selectBooleanCheckbox value="#{node.value}"/>#{node.name}</label></li>
		</c:otherwise>
	</c:choose>
</ui:composition>