<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">


	<composite:interface name="calendar" displayName="Date Picker" shortDescription="Date Picker Component">
	    <composite:attribute name="label" required="true" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
	     <h:outputStylesheet library="component/calendar" name="fullcalendar.css" target="head"/>
         <h:outputStylesheet library="component/calendar" name="fullcalendar.print.css" media='print' target="head"/>
	     <h:outputStylesheet library="jslib/jquery-ui/css/smoothness" name="jquery-ui-1.8.15.custom.css" target="head"/>
	     <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
	     <h:outputScript library="jslib/jquery-ui" name="jquery-ui-1.8.15.custom.min.js" target="head"/>
	     <h:outputScript library="component/calendar" name="fullcalendar.min.js" target="head"/>
	     
	     <label for="#{cc.clientId}" class="lbl #{cc.attrs.styleClass}" id="lbl#{cc.clientId}">#{cc.attrs.label}</label>
	     <div id='#{cc.clientId}-calendar'></div>
	     
	    <script type="text/javascript">
	        $(document).ready(function() {
                 //full calendar
                 var date = new Date();
                 var d = date.getDate();
                 var m = date.getMonth();
                 var y = date.getFullYear();

                 var calendar = $('##{cc.clientId}-calendar').fullCalendar({
                     header: {
                         left: 'prev,next today',
                         center: 'title',
                         right: 'month,agendaWeek,agendaDay'
                     },
                     selectable: true,
                     selectHelper: true,
                     select: function(start, end, allDay) {
                         var title = prompt('Event Title:');
                         if (title) {
                             calendar.fullCalendar('renderEvent',
                                 {
                                     title: title,
                                     start: start,
                                     end: end,
                                     allDay: allDay
                                 },
                                 true // make the event "stick"
                             );
                         }
                         calendar.fullCalendar('unselect');
                     },
                     editable: true,
                     theme: false,
                     events: [
                         {
                             title: 'All Day Event',
                             start: new Date(y, m, 1),
                             color: '#1693A7'
                         },
                         {
                             title: 'Long Event',
                             start: new Date(y, m, d-5),
                             end: new Date(y, m, d-2),
                             color: '#1693A7'
                         },
                         {
                             id: 999,
                             title: 'Repeating Event',
                             start: new Date(y, m, d-21, 16, 0),
                             allDay: false,
                             color: '#CC0C39'
                         },
                         {
                             id: 999,
                             title: 'Repeating Event',
                             start: new Date(y, m, d-14, 16, 0),
                             allDay: false,
                             color: '#CC0C39'
                         },
                         {
                             title: 'Meeting',
                             start: new Date(y, m, d-10, 10, 30),
                             end: new Date(y, m, d-10, 12, 30),
                             allDay: false,
                             color: '#E6781E'
                         },
                         {
                             title: 'Lunch',
                             start: new Date(y, m, d, 12, 0),
                             end: new Date(y, m, d, 14, 0),
                             allDay: false,
                             color: '#E6781E'
                         },
                         {
                             title: 'Birthday Party',
                             start: new Date(y, m, d-18, 19, 0),
                             end: new Date(y, m, d-18, 22, 30),
                             allDay: false,
                             color: '#C8CF02'
                         },
                         {
                             title: 'Click for Google',
                             start: new Date(y, m, 28),
                             end: new Date(y, m, 29),
                             url: 'http://google.com/',
                             color: '#1693A7'
                         }
                     ]
                 });
	        });    
	    </script>	     
	</composite:implementation>

</html>