<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<composite:interface name="checkTree" displayName="Check Tree" shortDescription="Check Tree Component">
    <composite:attribute name="value" required="true" type="com.vintek.ui.component.VCheckTreeNode"/>    
    <composite:attribute name="styleClass" type="String"/>
</composite:interface>
<composite:implementation>
         <h:outputStylesheet library="component/checkTree" name="jQuery.checkTree.css" target="head"/>
         <h:outputStylesheet library="component/checkTree" name="jQuery.checkTree-ie8.css" target="head" rendered="#{fn:containsIgnoreCase(request.getHeader('User-Agent'), 'MSIE 8') or fn:containsIgnoreCase(request.getHeader('User-Agent'), 'MSIE 9')}"/>         
         <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
         <h:outputScript library="component/checkTree" name="jQuery.checkTree.js" target="head"/>

         <div id="#{cc.clientId}" class="#{cc.attrs.styleClass}">
	        <ul id="#{cc.clientId}_checktree">
		       <ui:include src="checkTree/node.xhtml">
		           <ui:param name="node" value="#{cc.attrs.value}"/>
		           <ui:param name="root" value="#{cc.attrs.value}"/>
		           <ui:param name="id" value="#{cc.clientId}"/>
		       </ui:include>
	        </ul>
	     </div>
         
        <script type="text/javascript">
            $(document).ready(function() {
                $("##{cc.clientId}_checktree").checkTree();
            });    
        </script>    
</composite:implementation>

</html>