<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">


	<composite:interface name="dataTable" displayName="Data Table" shortDescription="Data Table Component">
        <composite:attribute name="data" type="java.utl.List"/>
	    <composite:attribute name="label" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
         <h:outputStylesheet library="component/dataTable" name="table_jui.css" target="head"/>
         <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
         <h:outputScript library="component/dataTable" name="jquery.dataTables.min.js" target="head"/>
         <h:outputScript library="component/dataTable" name="dataTables.plugins.js" target="head"/>
	     
          <div id="#{cc.clientId}" class="sepH_c #{cc.attrs.styleClass}">
              <h1 class="sepH_c">Data Table</h1>

              <div class="sepH_a">
                  <a href="javascript:void(0)" class="delete_all_dt">Delete selected</a>
              </div>

              <table cellpadding="0" cellspacing="0" border="0" class="display" id="#{cc.clientId}_data_table">
                  <thead>
                      <tr>
                          <th class="chb_col"><div class="th_wrapp"><input type="checkbox" class="chSel_all inpt_c1" /></div></th>
                          <th><div class="th_wrapp">Name</div></th>
                          <th><div class="th_wrapp">Capital</div></th>
                          <th><div class="th_wrapp">Population</div></th>
                          <th><div class="th_wrapp">Area (km<sup>2</sup>)</div></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Albania</td>
                          <td>Tirana</td>
                          <td>2,986,952</td>
                          <td>28,748</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Andora</td>
                          <td>Andorra la Vella</td>
                          <td>84,525</td>
                          <td>468</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Armenia</td>
                          <td>Yerevan</td>
                          <td>2,966,802</td>
                          <td>29,743</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Austria</td>
                          <td>Vienna</td>
                          <td>8,214,160</td>
                          <td>83,871</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Azerbaijan</td>
                          <td>Baku</td>
                          <td>8,303,512</td>
                          <td>86,600</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Belarus</td>
                          <td>Minsk</td>
                          <td>9,612,632</td>
                          <td>207,600</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Belgium</td>
                          <td>Brussels</td>
                          <td>10,423,493</td>
                          <td>30,528</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Bosnia and Herzegovina</td>
                          <td>Sarajewo</td>
                          <td>4,612,598</td>
                          <td>51,197</td>
                      </tr>
                      <tr>
                          <td class="chb_col"><input type="checkbox" name="row_sel" class="inpt_c1" /></td>
                          <td>Bulgaria</td>
                          <td>Sofia</td>
                          <td>7,148,785</td>
                          <td>110,879</td>
                      </tr>
                  </tbody>
              </table>
          </div>	     
	     
	    <script type="text/javascript">
	        $(document).ready(function() {
                $('.chSel_all').click(function () {
                    $(this).closest('table').find('input[name=row_sel]').attr('checked', this.checked);
                });
                $(".delete_all_simple").click(function () {
                    $('input[name=row_sel]:checked', '.smpl_tbl').closest('tr').fadeTo(600, 0, function () {
                        $(this).remove();
                        $('.chSel_all','.smpl_tbl').attr('checked',false);
                    });
                    return false;
                });
                $('.delete_all_dt').click( function() {
                    oTable = $('#data_table').dataTable();
                    $('input[@name=row_sel]:checked', oTable.fnGetNodes()).closest('tr').fadeTo(600, 0, function () {
                        oTable.fnDeleteRow( this );
                        $('.chSel_all','#data_table').attr('checked',false);
                        return false;
                    });
                });
                $('##{cc.clientId}_data_table').dataTable({
                    "aaSorting": [[ 1, "asc" ]],
                    "aoColumns": [
                        { "bSortable": false },
                        null,
                        null,
                        { "sType": "formatted-num" },
                        { "sType": "formatted-num" }
                    ]
                });	            
	        });    
	    </script>	     
	</composite:implementation>

</html>