<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
	<composite:interface name="contactSlider" displayName="Contact Slider" shortDescription="Contact Slider Component">    	
	</composite:interface>
	
	<composite:implementation>
	   <h:outputStylesheet library="component/contactSlider" name="contactSlider.css" target="head"/>
       <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
       <h:outputScript library="component/contactSlider" name="slidernav-min.js" target="head"/>
	   
       <div id="#{cc.clientId}">           
            <div id="contact_slider" class="slidernav">
                <div class="slider-content">
                    <ul>
                        <li id="a"><a name="a" class="title">A</a>
                            <ul>
                                <li><a href="user_profile.html">Adam</a></li>
                                <li><a href="user_profile.html">Alex</a></li>
                                <li><a href="user_profile.html">Ali</a></li>
                                <li><a href="user_profile.html">Apple</a></li>
                                <li><a href="user_profile.html">Arthur</a></li>
                                <li><a href="user_profile.html">Ashley</a></li>
                            </ul>
                        </li>
                        <li id="b"><a name="b" class="title">B</a>
                            <ul>
                                <li><a href="user_profile.html"><img class="sepV_b" alt="" src="#{resource['component/contactSlider/user_noPhoto26.gif']}"/><span>Barry</span></a></li>
                                <li><a href="user_profile.html"><img class="sepV_b" alt="" src="#{resource['component/contactSlider/user_noPhoto26.gif']}"/><span>Becky</span></a></li>
                                <li><a href="user_profile.html"><img class="sepV_b" alt="" src="#{resource['component/contactSlider/user_noPhoto26.gif']}"/><span>Biff</span></a></li>
                                <li><a href="user_profile.html"><img class="sepV_b" alt="" src="#{resource['component/contactSlider/user_noPhoto26.gif']}"/><span>Billy</span></a></li>
                                <li><a href="user_profile.html"><img class="sepV_b" alt="" src="#{resource['component/contactSlider/user_noPhoto26.gif']}"/><span>Bozarking</span></a></li>
                                <li><a href="user_profile.html"><img class="sepV_b" alt="" src="#{resource['component/contactSlider/user_noPhoto26.gif']}"/><span>Bryan</span></a></li>
                            </ul>
                        </li>
                        <li id="c"><a name="c" class="title">c</a>
                            <ul>
                                <li><a href="user_profile.html">Calista</a></li>
                                <li><a href="user_profile.html">Cathy</a></li>
                                <li><a href="user_profile.html">Chris</a></li>
                                <li><a href="user_profile.html">Cinderella</a></li>
                                <li><a href="user_profile.html">Corky</a></li>
                                <li><a href="user_profile.html">Cypher</a></li>
                            </ul>
                        </li>
                        <li id="d"><a name="d" class="title">d</a>
                            <ul>
                                <li><a href="user_profile.html">damien</a></li>
                                <li><a href="user_profile.html">danny</a></li>
                                <li><a href="user_profile.html">denver</a></li>
                                <li><a href="user_profile.html">devon</a></li>
                                <li><a href="user_profile.html">doug</a></li>
                                <li><a href="user_profile.html">dustin</a></li>
                            </ul>
                        </li>
                        <li id="e"><a name="e" class="title">E</a>
                            <ul>
                                <li><a href="user_profile.html">Barry</a></li>
                                <li><a href="user_profile.html">Becky</a></li>
                                <li><a href="user_profile.html">Biff</a></li>
                                <li><a href="user_profile.html">Billy</a></li>
                                <li><a href="user_profile.html">Bozarking</a></li>
                                <li><a href="user_profile.html">Bryan</a></li>
                            </ul>
                        </li>
                        <li id="f"><a name="f" class="title">f</a>
                            <ul>
                                <li><a href="user_profile.html">Calista</a></li>
                                <li><a href="user_profile.html">Cathy</a></li>
                                <li><a href="user_profile.html">Chris</a></li>
                                <li><a href="user_profile.html">Cinderella</a></li>
                                <li><a href="user_profile.html">Corky</a></li>
                                <li><a href="user_profile.html">Cypher</a></li>
                            </ul>
                        </li>
                        <li id="g"><a name="g" class="title">g</a>
                            <ul>
                                <li><a href="user_profile.html">damien</a></li>
                                <li><a href="user_profile.html">danny</a></li>
                                <li><a href="user_profile.html">denver</a></li>
                                <li><a href="user_profile.html">devon</a></li>
                                <li><a href="user_profile.html">doug</a></li>
                                <li><a href="user_profile.html">dustin</a></li>
                            </ul>
                        </li>
                        <li id="h"><a name="h" class="title">h</a>
                            <ul>
                                <li><a href="user_profile.html">Barry</a></li>
                                <li><a href="user_profile.html">Becky</a></li>
                                <li><a href="user_profile.html">Biff</a></li>
                                <li><a href="user_profile.html">Billy</a></li>
                                <li><a href="user_profile.html">Bozarking</a></li>
                                <li><a href="user_profile.html">Bryan</a></li>
                            </ul>
                        </li>
                        <li id="i"><a name="i" class="title">i</a>
                            <ul>
                                <li><a href="user_profile.html">Calista</a></li>
                                <li><a href="user_profile.html">Cathy</a></li>
                                <li><a href="user_profile.html">Chris</a></li>
                                <li><a href="user_profile.html">Cinderella</a></li>
                                <li><a href="user_profile.html">Corky</a></li>
                                <li><a href="user_profile.html">Cypher</a></li>
                            </ul>
                        </li>
                        <li id="j"><a name="j" class="title">j</a>
                            <ul>
                                <li><a href="user_profile.html">damien</a></li>
                                <li><a href="user_profile.html">danny</a></li>
                                <li><a href="user_profile.html">denver</a></li>
                                <li><a href="user_profile.html">devon</a></li>
                                <li><a href="user_profile.html">doug</a></li>
                                <li><a href="user_profile.html">dustin</a></li>
                            </ul>
                        </li>
                        <li id="k"><a name="k" class="title">k</a>
                            <ul>
                                <li><a href="user_profile.html">Barry</a></li>
                                <li><a href="user_profile.html">Becky</a></li>
                                <li><a href="user_profile.html">Biff</a></li>
                                <li><a href="user_profile.html">Billy</a></li>
                                <li><a href="user_profile.html">Bozarking</a></li>
                                <li><a href="user_profile.html">Bryan</a></li>
                            </ul>
                        </li>
                        <li id="l"><a name="l" class="title">l</a>
                            <ul>
                                <li><a href="user_profile.html">Calista</a></li>
                                <li><a href="user_profile.html">Cathy</a></li>
                                <li><a href="user_profile.html">Chris</a></li>
                                <li><a href="user_profile.html">Cinderella</a></li>
                                <li><a href="user_profile.html">Corky</a></li>
                                <li><a href="user_profile.html">Cypher</a></li>
                            </ul>
                        </li>
                        <li id="m"><a name="m" class="title">m</a>
                            <ul>
                                <li><a href="user_profile.html">damien</a></li>
                                <li><a href="user_profile.html">danny</a></li>
                                <li><a href="user_profile.html">denver</a></li>
                                <li><a href="user_profile.html">devon</a></li>
                                <li><a href="user_profile.html">doug</a></li>
                                <li><a href="user_profile.html">dustin</a></li>
                            </ul>
                        </li>
                        <li id="n"><a name="n" class="title">n</a>
                            <ul>
                                <li><a href="user_profile.html">damien</a></li>
                                <li><a href="user_profile.html">danny</a></li>
                                <li><a href="user_profile.html">denver</a></li>
                                <li><a href="user_profile.html">devon</a></li>
                                <li><a href="user_profile.html">doug</a></li>
                                <li><a href="user_profile.html">dustin</a></li>
                            </ul>
                        </li>
                        <li id="o"><a name="o" class="title">o</a>
                            <ul>
                                <li><a href="user_profile.html">damien</a></li>
                                <li><a href="user_profile.html">danny</a></li>
                                <li><a href="user_profile.html">denver</a></li>
                                <li><a href="user_profile.html">devon</a></li>
                                <li><a href="user_profile.html">doug</a></li>
                                <li><a href="user_profile.html">dustin</a></li>
                            </ul>
                        </li>
                        <li id="p"><a name="p" class="title">p</a>
                            <ul>
                                <li><a href="user_profile.html">Barry</a></li>
                                <li><a href="user_profile.html">Becky</a></li>
                                <li><a href="user_profile.html">Biff</a></li>
                                <li><a href="user_profile.html">Billy</a></li>
                                <li><a href="user_profile.html">Bozarking</a></li>
                                <li><a href="user_profile.html">Bryan</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                //$("#contact_slider").sliderNav({items: ["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p"]});
            	$("#contact_slider").sliderNav();
            });    
        </script>        
	</composite:implementation>
</html>