<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">


	<composite:interface name="dataTable" displayName="Data Table" shortDescription="Data Table Component">
        <composite:attribute name="data" type="java.utl.List"/>
	    <composite:attribute name="label" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
         <h:outputStylesheet library="component/dataTable" name="table_jui.css" target="head"/>
         <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
         <h:outputScript library="component/dataTable" name="jquery.dataTables.min.js" target="head"/>
         <h:outputScript library="component/dataTable" name="dataTables.plugins.js" target="head"/>
	     
          <div id="#{cc.clientId}" class="sepH_c #{cc.attrs.styleClass}">
            <!-- 
			<h:dataTable id="#{cc.clientId}_data_table" value="#{shoppingCartBean.items}" var="item">  
			  <f:facet name="header">
			    <h:outputText value="Your Shopping Cart" />  
			  </f:facet>  
			  <h:column>  
			    <f:facet name="header">  
			      <h:outputText value="Item Description" />  
			    </f:facet>  
			    <h:outputText value="#{item.description}" />  
			  </h:column>  
			  <h:column>  
			    <f:facet name="header">  
			      <h:outputText value="Price" />  
			    </f:facet>  
			    <h:outputText value="#{item.price}" />  
			  </h:column>  
			  <f:facet name="footer">  
			    <h:outputText value="Total: #{shoppingCartBean.total}" />  
			  </f:facet>  
			</h:dataTable>
			 -->
              <table cellpadding="0" cellspacing="0" border="0" class="display" id="#{cc.clientId}_data_table">
                  <thead>
                      <tr>
                          <th><div class="th_wrapp">Name</div></th>
                          <th><div class="th_wrapp">Capital</div></th>
                          <th><div class="th_wrapp">Population</div></th>
                          <th><div class="th_wrapp">Area (km<sup>2</sup>)</div></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Albania</td>
                          <td>Tirana</td>
                          <td>2,986,952</td>
                          <td>28,748</td>
                      </tr>
                      <tr>
                          <td>Andora</td>
                          <td>Andorra la Vella</td>
                          <td>84,525</td>
                          <td>468</td>
                      </tr>
                      <tr>
                          <td>Armenia</td>
                          <td>Yerevan</td>
                          <td>2,966,802</td>
                          <td>29,743</td>
                      </tr>
                      <tr>
                          <td>Austria</td>
                          <td>Vienna</td>
                          <td>8,214,160</td>
                          <td>83,871</td>
                      </tr>
                      <tr>
                          <td>Azerbaijan</td>
                          <td>Baku</td>
                          <td>8,303,512</td>
                          <td>86,600</td>
                      </tr>
                      <tr>
                          <td>Belarus</td>
                          <td>Minsk</td>
                          <td>9,612,632</td>
                          <td>207,600</td>
                      </tr>
                      <tr>
                          <td>Belgium</td>
                          <td>Brussels</td>
                          <td>10,423,493</td>
                          <td>30,528</td>
                      </tr>
                      <tr>
                          <td>Bosnia and Herzegovina</td>
                          <td>Sarajewo</td>
                          <td>4,612,598</td>
                          <td>51,197</td>
                      </tr>
                      <tr>
                          <td>Bulgaria</td>
                          <td>Sofia</td>
                          <td>7,148,785</td>
                          <td>110,879</td>
                      </tr>
                  </tbody>
              </table>
          </div>	     
	     
	    <script type="text/javascript">
	        $(document).ready(function() {
                $('##{cc.clientId}_data_table').dataTable({
                    "aaSorting": [[ 1, "asc" ]],
                    "aoColumns": [
                        null,
                        null,
                        { "sType": "formatted-num" },
                        { "sType": "formatted-num" }
                    ]
                });	            
	        });    
	    </script>	     
	</composite:implementation>

</html>