<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">


	<composite:interface name="datePicker" displayName="Date Picker" shortDescription="Date Picker Component">
	    <composite:attribute name="label" required="true" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
	     <h:outputStylesheet library="jslib/jquery-ui/css/smoothness" name="jquery-ui-1.8.15.custom.css" target="head"/>
	     <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
	     <h:outputScript library="jslib/jquery-ui" name="jquery-ui-1.8.15.custom.min.js" target="head"/>
	     
	     <label for="#{cc.clientId}" class="lbl #{cc.attrs.styleClass}" id="lbl#{cc.clientId}">#{cc.attrs.label}</label>
	     <input type="text" id="#{cc.clientId}" class="inpt_b datepicker" name="#{cc.clientId}" />
	     
	    <script type="text/javascript">
	        $(document).ready(function() {
	            $("##{cc.clientId}").datepicker({
	            	showOn: "button",
	                buttonImage: "#{resource['component/datePicker/cal.gif']}",
	                buttonImageOnly: true,		            
	            	changeMonth: true,
	                changeYear: true,
	                showButtonPanel: true
	            });
	        });    
	    </script>	     
	</composite:implementation>

</html>