<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<composite:interface name="favorites" displayName="Favorites Links" shortDescription="Favorites Links Component">
	    <composite:attribute name="title" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
         <h:outputStylesheet library="component/favorites" name="favorites.css" target="head"/>
         <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
         <h:outputScript library="component/favorites" name="favorites.js" target="head"/>
	     
          <div id="#{cc.clientId}" class="#{cc.attrs.styleClass}">
          	   <span>#{cc.attrs.title}</span>
		       <ul class="favorites no-margin with-tip" title="#{cc.attrs.title}">
		           <li class="fav top-round8">
		               <img src="#{resource['component/favorites/Pie-Chart.png']}" width="48" height="48"/>
		               <a href="#">VIN Match<br/>
		               <small>Reports &gt; VIN Match Report</small></a>
		               <ul class="mini-menu" style="opacity: 0;">
		                   <li><a href="#" class="move-up" title="Move up" style=""><img src="#{resource['component/favorites/arrow-090.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" class="move-down" title="Move down"><img src="#{resource['component/favorites/arrow-270.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" title="Delete"><img src="#{resource['component/favorites/cross-circle.png']}" width="16" height="16"/> Delete</a></li>
		               </ul>
		           </li>
		           <li class="fav top-round8">
		               <img src="#{resource['component/favorites/Info.png']}" width="48" height="48"/>
		               <a href="#">Settings<br/>
		               <small>System &gt; Settings</small></a>
		               <ul class="mini-menu" style="opacity: 0;">
		                   <li><a href="#" class="move-up" title="Move up"><img src="#{resource['component/favorites/arrow-090.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" class="move-down" title="Move down"><img src="#{resource['component/favorites/arrow-270.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" title="Delete"><img src="#{resource['component/favorites/cross-circle.png']}" width="16" height="16"/> Delete</a></li>
		               </ul>
		           </li>
		           
		           <li class="fav top-round8">
		               <img src="#{resource['component/favorites/Line-Chart.png']}" width="48" height="48"/>
		               <a href="#">Billable Activity<br/>
		               <small>Reports &gt; Billable Activity &gt; USAA</small></a>
		               <ul class="mini-menu" style="opacity: 0;">
		                   <li><a href="#" class="move-up" title="Move up"><img src="#{resource['component/favorites/arrow-090.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" class="move-down" title="Move down"><img src="#{resource['component/favorites/arrow-270.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" title="Delete"><img src="#{resource['component/favorites/cross-circle.png']}" width="16" height="16"/> Delete</a></li>
		               </ul>
		           </li>
		           
		           <li class="fav top-round8">
		               <img src="#{resource['component/favorites/Modify.png']}" width="48" height="48"/>
		               <a href="reports.xhtml">Titles Released<br/>
		               <small>Reports &gt; Titles Released</small></a>
		               <ul class="mini-menu" style="opacity: 0;">
		                   <li><a href="#" class="move-up" title="Move up"><img src="#{resource['component/favorites/arrow-090.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" class="move-down" title="Move down"><img src="#{resource['component/favorites/arrow-270.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" title="Delete"><img src="#{resource['component/favorites/cross-circle.png']}" width="16" height="16"/> Delete</a></li>
		               </ul>
		           </li>
		           
		           <li class="fav top-round8">
		               <img src="#{resource['component/favorites/Comment.png']}" width="48" height="48"/>
		               <a href="#">Manage Workflow Items<br/>
		               <small>Workflow &gt; User: Admin</small></a>
		               <ul class="mini-menu" style="opacity: 0;">
		                   <li><a href="#" class="move-up"><img src="#{resource['component/favorites/arrow-090.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" class="move-down" title="Move down"><img src="#{resource['component/favorites/arrow-270.png']}" width="16" height="16"/></a></li>
		                   <li><a href="#" title="Delete"><img src="#{resource['component/favorites/cross-circle.png']}" width="16" height="16"/> Delete</a></li>
		               </ul>
		           </li>           
		       </ul>
          </div>	     
	     
	    <script type="text/javascript">
	        $(document).ready(function() {		        
                $('##{cc.clientId}').find('.mini-menu').css({opacity:0}).parent().hover(
                        function() {$(this).children('.mini-menu').stop(true).animate({opacity:1});},
                        function() {$(this).children('.mini-menu').css('display', 'block').stop(true).animate({opacity:0}, {'complete': function() { $(this).css('display', ''); }});}
                );
                $('.move-up').click(function(){
                    //if ($(this).closest(".fav").prev()) {
                        $(this).closest(".fav").insertBefore($(this).closest(".fav").prev());
                        //if ($(this).is(':hidden'))
                        //    $(this).show();
                    //} else {
                    //    $(this).hide();
                    //}
                    //$('.favorites').find('.mini-menu').first().find('move-up').hide();
                });
                $('.move-down').click(function(){
                    //if ($(this).closest(".fav").next()) {
                        $(this).closest(".fav").insertAfter($(this).closest(".fav").next());
                        //if ($(this).is(':hidden'))
                        //    $(this).show();
                    //} else {
                    //    $(this).hide();
                    //}
                    //$('.favorites').find('.mini-menu').last().find('move-down').hide();
                });                
	        });    
	    </script>	     
	</composite:implementation>

</html>