<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<composite:interface name="graph" displayName="Graph" shortDescription="Graph Component">
	    <composite:attribute name="label" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
        <h:outputStylesheet library="component/graph/visualize" name="visualize.css" target="head"/>
		<h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
		<h:outputScript library="component/graph" name="jquery.jqplugin.1.0.2.min.js" target="head"/>
        <h:outputScript library="component/graph/fusion-charts" name="FusionCharts.js" target="head"/>
        <h:outputScript library="component/graph/visualize" name="excanvas.js" target="head"/>
        <h:outputScript library="component/graph/visualize" name="visualize.jQuery.js" target="head"/>
        <h:outputScript library="component/graph/visualize" name="tooltip.visualize.jQuery.js" target="head"/>

		   
		<div id="#{cc.clientId}_flash" class="fsChart">
		</div>
		<div id="#{cc.clientId}_jquery">JQuery Graph
             <table class="chart bar line area pie table_a">
                 <caption>2009 Employee Sales by Department</caption>
                 <thead>
                     <tr>
                         <td></td>
                         <th scope="col">food</th>
                         <th scope="col">auto</th>
                         <th scope="col">household</th>
                         <th scope="col">furniture</th>
                         <th scope="col">kitchen</th>
                         <th scope="col">bath</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <th scope="row">Mary</th>
                         <td>190</td>
                         <td>160</td>
                         <td>40</td>
                         <td>120</td>
                         <td>30</td>
                         <td>70</td>
                     </tr>
                     <tr>
                         <th scope="row">Tom</th>
                         <td>3</td>
                         <td>40</td>
                         <td>30</td>
                         <td>45</td>
                         <td>35</td>
                         <td>49</td>
                     </tr>
                     <tr>
                         <th scope="row">Brad</th>
                         <td>10</td>
                         <td>180</td>
                         <td>10</td>
                         <td>85</td>
                         <td>25</td>
                         <td>79</td>
                     </tr>
                     <tr>
                         <th scope="row">Kate</th>
                         <td>40</td>
                         <td>80</td>
                         <td>90</td>
                         <td>25</td>
                         <td>15</td>
                         <td>119</td>
                     </tr>
                 </tbody>
             </table>		
		</div>  
		<script type="text/javascript">
			$(document).ready(function() {
				if ($.browser.flash == true)  {
					$("##{cc.clientId}_flash").show();
					$("##{cc.clientId}_jquery").hide();
			        var chart_a = new FusionCharts("#{resource['component/graph/fusion-charts/charts/FCF_MSLine.swf']}", "#{cc.clientId}_flash", "700", "500");
			        chart_a.setDataURL("#{resource['component/graph/fusion-charts/data/daily_visits.xml']}");
			        chart_a.setTransparent(true);
			        chart_a.render("#{cc.clientId}_flash");
				} else {
					$("##{cc.clientId}_jquery").show();
					$('table.chart').hide();
					$("##{cc.clientId}_flash").hide();
			        $('.line').visualize({
			            type: 'line',
			            colors: ['#00a0b0','#cc333f','#6a4a3c','#edc951','#eb6841','#a141eb','#446a3c','#f45a90','#e9e744'],
			            lineDots: 'double',
			            lineMargin: 0,
			            interaction: true,
			            tooltip: true
			        }).trigger('visualizeRefresh');					
				}
			});    
		</script>	     
	</composite:implementation>
</html>
 