<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<composite:interface name="menuList1" displayName="Menu List" shortDescription="Menu List Component">
	    <composite:attribute name="label" required="true" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
	     <h:outputStylesheet library="component/menuList1/css" name="menuList.css" target="head"/>
	     <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
         <h:outputScript library="component/menuList1" name="jquery.accessibleList.js" target="head"/>
	     
         <li class="menu-item relative #{cc.attrs.styleClass}" id="#{cc.clientId}">
            <span class="menu_count">6</span> <a href="#">#{cc.attrs.label}</a>
            <div class="menu-list absolute btm-round5 drop-shadow tan-gradient" id="#{cc.clientId}_list">
	            <ul>
	                 <li><a href="#">3.20 Release Notes</a></li>
	                 <li><a href="#">SCUSA Announcement</a></li>
	                 <li><a href="#">Scheduled Outage</a></li>
	                 <li><a href="#">3.20 Release Notes</a></li>
	                 <li><a href="#">SCUSA Announcement</a></li>
	                 <li><a href="#">Scheduled Outage</a></li>
                     <li><a href="#">3.20 Release Notes</a></li>
                     <li><a href="#">SCUSA Announcement</a></li>
                     <li><a href="#">Scheduled Outage</a></li>
                     <li><a href="#">3.20 Release Notes</a></li>
                     <li><a href="#">SCUSA Announcement</a></li>
                     <li><a href="#">Scheduled Outage</a></li>	                 
	            </ul>
	            <p id="#{cc.clientId}_all" class="result-info"><a href="#">View all #{cc.attrs.label} &#187;</a></p>
            </div>
         </li>
	     
	    <script type="text/javascript">
	        $(document).ready(function() {
                function convertDropLists() {
                    $('##{cc.clientId} ul').accessibleList({moreAfter:false});
                    $(this).unbind('mouseenter', convertDropLists);  // Run only once
                }		        
	        	$('##{cc.clientId}').hover(
        			function(){
                        $(this).find('##{cc.clientId}_list').fadeIn('fast');
                     },
                     function(){
                         $(this).find('##{cc.clientId}_list').fadeOut('fast');
                     }
	    	     ); //.bind('mouseenter', convertDropLists);
	            /*$('##{cc.clientId}').mouseenter(function(){
                    $(this).find('ul').fadeIn('fast');
                 });
                $('##{cc.clientId}').mouseleave(function(){
                    $(this).find('ul').fadeOut('fast');
                 });
                */
                //$('##{cc.clientId} ul').accessibleList({moreAfter:false});
	        });    
	    </script>
	</composite:implementation>

</html>