<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <composite:interface name="blockList" displayName="Menu List" shortDescription="Menu List Component">
        <composite:attribute name="list" type="java.util.List"/>
        <composite:attribute name="label" type="String"/>
        <composite:attribute name="styleClass" type="String"/>
    </composite:interface>
    <composite:implementation>
         <h:outputStylesheet library="component/menuList/css" name="menuList.css" target="head"/>
         <h:outputStylesheet library="component/menuList/css" name="menuList-ie7.css" target="head" rendered="#{fn:containsIgnoreCase(request.getHeader('User-Agent'), 'MSIE')}"/>         
         <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
         <h:outputScript library="component/menuList" name="jquery.accessibleList.js" target="head"/>
                  
         <h:outputText value="&lt;!--[if lt IE 8 ]&gt;&lt;div class='ie ie7'&gt;&lt;![endif]--&gt;" escape="false"/>
         <h:outputText value="&lt;!--[if IE 8 ]&gt;&lt;div class='ie'&gt;&lt;![endif]--&gt;" escape="false"/>
         <li class="menuItem #{cc.attrs.styleClass}" id="#{cc.clientId}">
             <span class="menu_count">#{cc.attrs.list.size()}</span> <a href="#">#{cc.attrs.label}</a>
             <div id="#{cc.clientId}_list" class="result-block tan-gradient">
                 <span class="arrow"><span></span></span>
                 <ul class="small-files-list icon-paper">
                    <ui:repeat var="listItem" value="#{cc.attrs.list}">
						<li class="#{listItem.messageType}">
						    <a href="#"><b>#{listItem.messageType}</b>: #{listItem.messageString}<br/>
						    <small>Added on: <strong>#{listItem.messageDate}</strong></small></a>
						</li>                    
                    </ui:repeat>                      
                 </ul>
                 <p id="#{cc.clientId}_info" class="result-info"><a href="#">View all #{cc.attrs.label} &#187;</a></p>
             </div>
         </li>
    
    <script type="text/javascript">
        $(document).ready(function() {
                function convertDropLists() {
                    $(this).find('.result-block .small-files-list').accessibleList({moreAfter:false});
                    $(this).unbind('mouseenter', convertDropLists);     // Run only once
                }
                $('.menuItem').hover(function() {
                    $(this).find('.result-block').stop(true).css('display', 'none').fadeIn('normal', function() {
                        $(this).css('opacity', '');
                        if ($(".pdfObject").length > 0) {
                            var padHeight = 59;
                            var padWidth = 30;
                            if ($.browser.msie &amp;&amp; $.browser.version&lt;9) {
                                padHeight = 62;
                                padWidth = 28;
                            }                            
                            if ($.browser.msie &amp;&amp; $.browser.version&lt;8) {
                                padHeight = 62;
                                padWidth = 44;
                            }
                            var offset = $("#menuList_list").offset();
                            $(document.body).append('<iframe id="pdf_overlay" src="about:blank"/>');
                            $("#pdf_overlay").css({'z-index': (parseInt($('##{cc.clientId}_list').css('z-index')) - 10),
                                                   'position': 'absolute',
                                                   'margin': '0 auto',
                                                   'border': '0px'});
                            //                       'top': parseInt($("#menuList_list").css('top')),
                            //                       'right': (parseInt($("#menuList_list").css('right')) + 20) + "px",
                            //                       'bottom': parseInt($("#menuList_list").css('bottom')),
                            //                       'left': parseInt($("#menuList_list").css('left'))});
                            $("#pdf_overlay").offset({top: offset.top, left: offset.left-2});
                            $("#pdf_overlay").height(parseInt($("#menuList_list ul").outerHeight()) + padHeight + "px");
                            $("#pdf_overlay").width(parseInt($("#menuList_list ul").outerWidth()) + padWidth + "px");
                            $("#pdf_overlay").attr('frameborder','0px');

                    }                        
                    });             
                }, function() {
                    $(this).find('.result-block').stop(true).css('display', 'block').fadeOut('normal', function() {
                        $(this).css('opacity', '');
                        $("#pdf_overlay").remove();
                    });             
                }).bind('mouseenter', convertDropLists);
        }); 
    </script>
	</composite:implementation>
</html>