<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <composite:interface>
        <composite:attribute name="type" required="true" type="String"/>
        <composite:attribute name="styleClass" type="String"/>    
        <composite:facet name="modalPanel"/>
    </composite:interface>
    
    <composite:implementation>
        <h:outputStylesheet name="jquery.fancybox-1.3.4.css" library="component/modal" target="head"/>
        <h:outputScript name="jquery-1.7.2.min.js" library="jslib" target="head"/>
        <h:outputScript name="jquery.easing-1.3.pack.js" library="component/modal" target="head"/> 
        <h:outputScript name="jquery.fancybox-1.3.4.pack.js" library="component/modal" target="head"/>         
        
        <div style="display:none">
        <div id="#{cc.clientId}" class="#{cc.attrs.styleClass}">
           <composite:renderFacet name="modalPanel"/>
        </div>
        </div>
        
       <script type="text/javascript">
	       //regular dialog
	       $("a[href='##{cc.clientId}']").fancybox({
	           'transitionIn'  : 'elastic',
	           'width'             : 300,
	           'height'            : 150,
	           'autoDimensions'    : false,
	           'overlayOpacity'    : '0',
	           'hideOnOverlayClick': false
	       });            
       
       </script>
    </composite:implementation>
</html>