<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<composite:interface name="sessionTimeout" displayName="sessionTimeout" shortDescription="Session Timeout Component">
        <composite:attribute name="pollServlet" required="true" type="String"/>
        <composite:attribute name="idleAfter" required="true" type="int"/>
        <composite:attribute name="pollingInterval" required="true" type="int"/>
	    <composite:attribute name="expiredPage" required="true" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
        <h:outputStylesheet library="component/sessionTimeout" name="timeout.css"  target="head"/>
        <h:outputScript library="component/sessionTimeout" name="jquery.idletimer.js" target="head"/>
        <h:outputScript library="component/sessionTimeout" name="jquery.idletimeout.js" target="head"/>        
                 
        <div id="idletimeout" class="#{cc.attrs.styleClass} idletimeout">
            You will be logged off in <span><!-- countdown place holder --></span>&nbsp;seconds due to inactivity. 
            <a id="idletimeout-resume" href="#">Click here to continue using this web page</a>.
        </div>

        <script type="text/javascript">
        $(document).ready(function() {
            $.idleTimeout('#idletimeout', '#idletimeout a', {
                idleAfter: #{cc.attrs.idleAfter},
                pollingInterval: #{cc.attrs.pollingInterval},
                keepAliveURL: '#{cc.attrs.pollServlet}',
                serverResponseEquals: 'OK',
                onTimeout: function(){
                    $(this).slideUp();
                    window.location = '#{cc.attrs.expiredPage}';
                },
                onIdle: function(){
                    $(this).slideDown(); // show the warning bar
                },
                onCountdown: function( counter ){
                    $(this).find("span").html( counter ); // update the counter
                },
                onResume: function(){
                    $(this).slideUp(); // hide the warning bar
                }
            });
        });
        </script>
	</composite:implementation>
</html>