<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <composite:interface>
        <composite:attribute name="lessHeight" type="String"/>
        <composite:attribute name="moreHeight" type="String"/>
        <composite:attribute name="lessLabel" type="String"/>
        <composite:attribute name="moreLabel" type="String"/>        
        <composite:facet name="showMorePanel"/>        
    </composite:interface>
    
    <composite:implementation>
        <h:outputStylesheet name="showMore.css" library="component/showMore" target="head"/>
        <h:outputScript name="jquery-1.7.2.min.js" library="jslib" target="head"/>
        <h:outputScript name="showMore.js" library="component/showMore" target="head"/> 
               
        <div id="#{cc.clientId}" class="showmore_wrapper">
             <div id="#{cc.clientId}_panel" class="showmore">
                <composite:renderFacet name="showMorePanel"/>
             </div>
             <div class="showmore_footer">
                 <a id="#{cc.clientId}_less" style="display:none;" class="button showLessBtn"><img src="#{resource['component/showMore/up.png']}"/> #{cc.attrs.lessLabel}</a>
                 <a id="#{cc.clientId}_more" class="button showMoreBtn"><img src="#{resource['component/showMore/down.png']}"/> #{cc.attrs.moreLabel}</a>
             </div>
       </div>
       <script type="text/javascript">
	       showMore.init({
	    	   panelid: "#{cc.clientId}_panel",
	    	   lessid: "#{cc.clientId}_less",
	    	   moreid: "#{cc.clientId}_more",
               lessHeight: "#{cc.attrs.lessHeight}",
               moreHeight: "#{cc.attrs.moreHeight}",
	       });
       </script>
    </composite:implementation>
</html>