<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"      
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<composite:interface name="tab" displayName="Tab" shortDescription="Tab Component">
        <composite:attribute name="tabs" required="true" type="String"/>
        <composite:facet name="tabPanes" required="true"/>
        <composite:attribute name="label" type="String"/>
	    <composite:attribute name="styleClass" type="String"/>
	</composite:interface>
	<composite:implementation>
        <h:outputStylesheet library="component/tab" name="tabs.css" target="head"/>
        <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
        <h:outputScript library="jslib" name="jquery.tools.min.js" target="head"/>
        
        <div id="#{cc.clientId}" class="box_c #{cc.attrs.styleClass}">
            <div class="box_c_heading">
                <ul id="#{cc.clientId}-tabs" class="tabsS fl">
                    <ui:repeat value="#{fn:split(cc.attrs.tabs, ',')}" var="tab">
                        <li><a>#{tab}</a></li>
                    </ui:repeat>                
                </ul>
                <span class="fr">#{cc.attrs.label}</span>
            </div>                
            <div id="#{cc.clientId}-tabPanes" class="box_c_content">
                <composite:renderFacet name="tabPanes"/>
            </div>
        </div>
	     
	    <script type="text/javascript">
	        $(document).ready(function() {
	            $("##{cc.clientId}-tabs").tabs("##{cc.clientId}-tabPanes > div");
	        });    
	    </script>	     
	</composite:implementation>

</html>