<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
<composite:interface name="treeView" displayName="Tree View" shortDescription="Tree View Component">
	<composite:attribute name="value" required="true" type="com.vintek.ui.component.VTreeNode"/>
</composite:interface>
<composite:implementation>
    <h:outputStylesheet library="component/treeView" name="treeView.css" target="head"/>
    <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
    <h:outputScript library="component/treeView" name="treeView.js" target="head"/>

    <div id="#{cc.clientId}" class="treeview">
    <ul class="root">
		<ui:include src="treeView/node.xhtml">
			<ui:param name="node" value="#{cc.attrs.value}"/>
            <ui:param name="root" value="#{cc.attrs.value}"/>
            <ui:param name="id" value="#{cc.clientId}"/>
		</ui:include>
    </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("##{cc.clientId}").treeView();
        });
    </script>
</composite:implementation>

</html>