.relative {
    position: relative;
    z-index: 89;
}
.absolute {
    position: absolute;
    z-index: 89;
}

/*.menu-item {position: relative;z-index: 200;}*/
.menu-item a {padding-left: 3px;}
li.menu-item {list-style:none;display:inline;padding-right:6px;line-height:26px;}
/*.menu-item .menu-list {position: absolute;z-index: 100;border: 1px solid #EEE;display:none;}*/
.menu-item .menu-list {display:none;}
.menu-item ul {width: 175px;left: -7px !important;padding: 2px 4px 12px;}
.menu-item ul li {float: left;width: 100%;border-right: none;height: auto; line-height: 15px !important;padding-right: 0 !important;}
.menu-item ul li:hover{background-color: #F7F7F7;}
.menu-item ul li:last-child a{border-bottom:none;}
.menu-item ul li a {text-decoration: none;display: block;border-bottom: 1px dotted #CCC;padding: 4px;}

.menu_count {padding:1px 12px;color:#fff;background:#dd0000;font-weight:700;line-height:1;text-align:center,-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

.result-info {
	float:left;
	width:100%;
    background: #333333;
    color: white;
    padding: 0;
    margin: 0;
    -moz-border-radius: 0 0 0.5em 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-radius: 0 0 0.5em 0.5em;
    white-space: nowrap;
}
.result-info a {
    color: #77ccff;
    padding-left: 6px;
}
/*
.menu-list .arrow:first-child + .result-info:last-child {
    margin-top: -1em;
    border-top: 1px solid #999999;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -webkit-background-clip: padding-box;
    border-radius: 0.5em;
}
.menu-list div + .result-info,
.menu-list p + .result-info,
.menu-list ul + .result-info {
    margin-top: -0.5em;
}
.menu-list .result-info.loading {
    padding-left: 2.667em;
    background: #333333 url(#{resource['component/menuList/images/table-loader.gif']}) no-repeat 0.75em center;
}
*/


/*************** Small pagination ***************/
.small-pagination {
    text-align: center;
}
ul + .small-pagination {
    margin-top: -0.667em;
}
.small-pagination li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 0.75em;
    height: 1.555em;
    line-height: 1.555em;
    padding: 0 0.333em 0 0.222em;
    min-width: 1em;
    text-align: center;
    background: #d0d0d0;
    color: #666666;
    -moz-border-radius: 0.778em;
    -webkit-border-radius: 0.778em;
    -webkit-background-clip: padding-box;
    border-radius: 0.778em;
}
.small-pagination li a {
    display: block;
    margin: 0 -0.333em 0 -0.222em;
    padding: 0 0.333em 0 0.222em;
    height: 1.555em;
    min-width: 1em;
    color: white;
    background-color: #3399cc;
    -moz-border-radius: 0.778em;
    -webkit-border-radius: 0.778em;
    -webkit-background-clip: padding-box;
    border-radius: 0.778em;
}
.small-pagination li.current a, .small-pagination li a:hover {
    background-color: #7cc5e9;
}
.small-pagination li.prev, .small-pagination li.next {
    background: none;
    vertical-align: middle;
}
.small-pagination li.prev a, .small-pagination li.next a {
    margin: -0.111em -0.444em -0.111em -0.333em;
    padding: 0.111em 0.444em 0.111em 0.333em;
    width: 1em;
    overflow: hidden;
    text-indent: 100em;
}
.small-pagination li.prev a {
    background: url(#{resource['component/menuList/images/navigation-180.png']}) no-repeat center center;
}
.small-pagination li.prev a:hover {
    background-image: url(#{resource['component/menuList/images/navigation-180-white.png']});
}
.small-pagination li.next a {
    background: url(#{resource['component/menuList/images/navigation.png']}) no-repeat center center;
}
.small-pagination li.next a:hover {
    background-image: url(#{resource['component/menuList/images/navigation-000-white.png']});
}