<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xml:lang="en">
 
<h:head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Vintek - Session expired</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <h:outputStylesheet name="css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'/>
</h:head>
<h:body class="fixed">		
	<div id="main">
		<div class="wrapper tac">
			<div class="error_page">
				<p class="big_heading sepH_b">Test xhtml page</p>
				<p class="large">This is a test xhtml page served from a jar and using relocatable resources. To use it within a war file that contains this jar use: href="#{request.contextPath}/_errors/testXhtml.xhtml"</p>
			</div>
		</div>
	</div>		
</h:body>
</html>


	