.showmore_wrapper {
	display:table;
}
.showmore { 
    /*background-color:#abc; */
    height:80px; 
    overflow:hidden;
}
.showmore_footer {
    border-top: 1px !important; border-top-style: dotted !important; border-top-color: gray !important;
    margin-bottom:50px;
}
.showmore_footer .button {
    float:right;
    background: url(#{resource['component/showMore/tab-bg.png']}) top right no-repeat;
    background-size: 100%;
    padding: 1px 15px;
    font-size: 10px;
    cursor: pointer;
    text-decoration: none;    
}

.showmore_footer .button {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #d4d4d4) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #d4d4d4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#d4d4d4');
    background-color:#f9f9f9;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:9px;
    -moz-border-radius-bottomright:9px;
    border-bottom-right-radius:9px;
    -webkit-border-bottom-left-radius:9px;
    -moz-border-radius-bottomleft:9px;
    border-bottom-left-radius:9px;
    text-indent:0px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:Trebuchet MS;
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    height:17px;
    line-height:17px;
    width:84px;
    text-decoration:none;
    text-align:center;
    text-shadow:2px 2px 0px #ffffff;
}
.showmore_footer .button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4d4d4), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #d4d4d4 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#f9f9f9');
    background-color:#d4d4d4;
}
.showmore_footer .button.bottom-tab:active {
    position:relative;
    top:1px;
}