
/* root element for tabs  */
ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #666;
    height:30px;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    background: url(#{resource['component/tab/blue.png']}) no-repeat -420px 0;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: -420px -62px;
    cursor:default !important;
    color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s { background-position: -553px 0; width:81px; }
ul.tabs a.s:hover { background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l { background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover { background-position: -248px -31px; }
ul.tabs a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl { background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover { background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.panes .pane {
    display:none;
}


/* tab pane styling */
.panes div {
    display:none;
    padding:15px 10px;
    border:1px solid #999;
    border-top:0;
    height:100px;
    font-size:14px;
    background-color:#fff;
}

/* large tabs */
.tabsB {border-bottom:1px solid #ccc;margin-bottom:20px}
.tabsB li {float:left}
.tabsB a {position:relative;top:1px;line-height:26px;height:26px;display:block;padding:0 14px;margin-right:2px;border-width:1px 1px 0 1px;border-style:solid;border-color: transparent;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 4px 4px 0px 0px;border-radius: 4px 4px 0px 0px}
.tabsB a:hover {text-decoration:none;background:#eee}
.tabsB a.current {color:#222;background:#fff;border-color:#ccc;font-weight:700;line-height:28px;height:28px}

/* small tabs */
.tabsS {position:relative;top:6px;height:23px}
.tabsS li {float:left;margin-right:2px;}
.tabsS li a {text-shadow:none;display:block;line-height:18px;padding:2px 6px;border-width:1px 1px 0;border-style:solid;border-color:transparent;cursor:pointer;}
.tabsS li a.current,.tabsS li a:hover {background:#fafafa;border-color:#ccc;-moz-border-radius-topleft: 4px;color:#222;-moz-border-radius-topright: 4px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 4px 4px 0px 0px;border-radius: 4px 4px 0px 0px; text-decoration:none;-webkit-box-shadow: 0px 1px 0px 0px #fafafa;-moz-box-shadow: 0px 1px 0px 0px #fafafa;box-shadow: 0px 1px 0px 0px #fafafa}
